@charset "utf-8";
/* CSS Document */

body{
  background:#f1f9f9;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
  //margin-top:90px;
    background-color: #fff;
  
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
      
  font-family:Tahoma, Geneva, sans-serif;
  color:#990000;
  font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
  //border:solid red 1px;
  margin-top:110px;
}
.navbar-brand{
  font-family:"Lucida Handwriting";
}
#btn-submit{
  height:45px;
}
.h5{
  font-family:Verdana, Geneva, sans-serif;
}
h1{
  font-family:Verdana, Geneva, sans-serif;
}